@import "tailwindcss";

@tailwind base;
@tailwind component;
@tailwind utilities;

@plugin "@tailwindcss/typography";

@theme {
    --color-main: #2D2D2D;
    --color-second: #242424;
    --color-third: #202020;
    --color-button: #454545;
}

