<section class="bg-main text-white lg:px-100 py-12 mt-50">
  <div class="max-w-4xl mx-auto flex flex-col md:flex-row items-center gap-6">
    <div class="w-80 h-80 bg-gray-700 rounded-full mr-20" />
    <div>
      <h2 class="text-7xl mb-5">About me</h2>
      <p class="text-big text-gray-300 max-w-md">
        something something poor computer science student, ... Currently learning c#, python, unity.
      </p>
      <div class="text-3xl mt-4 mt-5">
        <p>Contact:</p>
        <div class="flex gap-2 mt-2">
          <div class="w-8 h-8 bg-gray-400" /> <!-- Repeat for each icon -->
        </div>
      </div>
    </div>
  </div>
</section>
