<footer class="bg-second text-white px-6 py-8 mt-100">
    <div
        class="max-w-6xl mx-auto flex flex-col md:flex-row items-start justify-between gap-8 text-sm"
    >
        <div class="space-y-2">
            <p class="font-bold mb-7">Portfolio</p>
            <p>© 2025 Name Surname. All rights reserved.</p>
        </div>

        <div class="space-y-2">
            <p class="font-bold mb-7">Links</p>
            <ul class="space-y-1">
                <li><a href="#about" class="hover:underline hover:text-accent">About me</a></li>
                <li>
                    <a href="#projects" class="hover:underline hover:text-accent">Projects</a>
                </li>
            </ul>
        </div>

        <div class="space-y-2">
            <p class="font-bold mb-7">Contact</p>
            <div class="flex gap-2">
                <div class="w-6 h-6 bg-gray-400 rounded"></div>
                <div class="w-6 h-6 bg-gray-400 rounded"></div>
                <div class="w-6 h-6 bg-gray-400 rounded"></div>
            </div>
        </div>
    </div>
</footer>
