<section class="text-black relative h-[95vh] overflow-hidden component-block">
  <!-- Background SVG filling entire section -->
  <div class="absolute inset-0 bg-[url('../public/waves.svg')] bg-cover bg-no-repeat bg-center z-0"></div>

  <!-- Text over the background -->
  <div class="relative z-10 flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-light mb-2">Code that speaks.</h1>
    <h1 class="text-4xl font-light mb-2">Projects that work.</h1>
    <h1 class="text-4xl font-light">Welcome to my dev world.</h1>
  </div>
</section>

